<!DOCTYPE HTML>
<head>
</head>
<body>
	<div>Bienvenue sur OpenDATA</div>
	<div>la plateforme de transfert de donnees vers les bases gouvernementales</div>
	<div>
		<form action="/load" name="formulaire_sub" method="post"
			enctype="multipart/form-data">
			<div>
				<input id="file" name="file" type="file" accept=".csv,.xml"
					class="form-control"></input>
			</div>
			<div>
				<select class="form-control" id="type" name="type">
					<option value="CSV">CSV</option>
					<option value="XML">XML</option>
				</select>
			</div>
			<div>
				<label for="emmeteur">Emetteur : </label><input type="text" name="emmeteur" id="emmeteur"></input>
			</div>
			<div>
				<input type="submit" value="SUBMIT">
			</div>
		</form>
	<div>
		<p th:text="${MESSAGE}"></p>
	</div>
	</div>
</body>